<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav class="navbar background h-nav-resp">
        <ul class="nav-list v-class-resp">
            <div class="logo"><h1 class="name">Fresh Fusion</h1><img src="https://cdn0.iconfinder.com/data/icons/hotel-filled-colour-0910-1/512/laundry-machine-washer-Clothes_washer-wash-1024.png" class="imagelogo" width="50px" height="50px"></div>

            <li><a href="#home">Home</a></li>
            <li><a href="#how it works">About</a></li>
            <li><a href="#contact-us">Contact us</a></li>
            <li><form method="get" action="/services"><button class="services" type="submit"><a>Services</a></button></form></li> 
            <li><form method="get" action="/indexe"><button class="indexe" type="submit"><a>Pay</a></button></form></li> 
        </ul>
        <div class="rightnav">
            <form method="get" action="/signup"> 
           <button class="btn btn-sm">Sign up</button>
            </form>
            <form method="get"action="/login">
            <button class ="btn btn-sm2">Login</button>
            </form>
        </div>
    </nav>
    <div class="circle">
        <p class="sectiontag text-big"><H1> Indulge your senses with our fragrant laundry experience</H1></p>
        <br><br>
        <p class="para"> Elevate your laundry experience with our cutting-edge facilities, </p>
            <p class="para">ensuring impeccable cleanliness and care for your garments. </p>
            <p class="para">Say goodbye to the hassle with our convenient pickup</p>
            <p></p> and delivery service, 
            making laundry day a breeze!</p>
            <br>
            
            <button class="learnmore">Learnmore</button>
        </div> 
    <img src="https://cdni.iconscout.com/illustration/premium/thumb/mother-and-son-doing-laundry-machine-8620041-6843105.png" class="right" />
    <div class="card1">
        
        <div class="desc1">
            <h3>Why Choose Fresh Fusion?</h3>
            <li>Highly customizable and light software</li>
            <li>Trusted by hundreds of customers</li>
            <li>value for money</li>

        </div>
    </div>
    <div class="card2">
        
        <div class="desc2">
            <h3>Our achievements</h3>
            <li>70+ customers</li>
            <li>100000+ garments processed</li>
            <li>Operational countries 3+</li>

        </div>
    </div>
    <div class="card3">
        
        <div class="desc3">
            <h3>Customised Solutions</h3>
            <li>Dedicated solutions for hotels,
                hospitals and industries
            </li>
            <li>customised built bespoke features</li>
            <li>Ground-up development and deployment</li>

        </div>
    </div>


    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <section class="sectiona" id="sectiona">
        <h3 class="our-prices">Our Laundry and Dry Cleaning Prices</h3>
        <div class="card-container prices-container">
            <div class="prices">
                <img src="../imagee/shirts.jpg" class="seactionaimg">

                <div class="content">
                    <h3>Shirts</h3>
                    <h4>Rs.99 per pc</h4>
                </div>
            </div>
            <div class="prices">
                <img src="../imagee/ladiesgown.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Ladies Gown</h3>
                    <h4>Rs.199 per pc</h4>
                </div>
            </div>
            <div class="prices">
                <img src="../imagee/iron.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Iron service</h3>
                    <h4>Rs.69 per kg</h4>
                </div>
            </div>
            <div class="prices">
                <img src="../imagee/blankie.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Blankie</h3>
                    <h4>Rs.99 per kg</h4>
                </div>
            </div>
        </div>
            <div class="card-container offers-container">
            <div class="offers">
                <img src="../imagee/washfold.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Wash and fold</h3>
                    <h4>15 kg per month</h4>
                    <li>weekly pickup</li>
                    <li>wash</li>
                    <li>spotting</li>
                    <li>dry</li>
                    <li>Bundle Packing</li>
                    <li>Wearable and non wearable clothes</li>
                    <li>valid for 1 month</li>
                    <h3>Rs 999.00</h3>  <button class="ordernow">order now</button>
                </div>
            </div>
       
             <div class="offers">
                <img src="../imagee/washfold.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Wash and fold</h3>
                    <h4>15 kg per month</h4>
                    <li>weekly pickup</li>
                    <li>wash</li>
                    <li>spotting</li>
                    <li>dry</li>
                    <li>Bundle Packing</li>
                    <li>Wearable and non wearable clothes</li>
                    <li>valid for 1 month</li>
                    <h3>Rs 999.00</h3>  <button class="ordernow">order now</button>
                </div>
            </div>
             <div class="offers">
                <img src="../imagee/drycleaning.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Dry Cleaning</h3>
                    <h4>40 Clothes per month</h4>
                    <li>weekly pickup</li>
                    <li>Dry Clean</li>
                    <li>Stain Remove</li>
                    <li>Steam Iron</li>
                    <li>Single Packing</li>
                    <li>Wearable clothes only</li>
                    <li>valid for 1 month</li>
                    <h3>Rs 2699.00</h3>  <button class="ordernow">order now</button>
                </div>
            </div>
            <div class="offers">
                <img src="../imagee/drycleaning.jpg" class="seactionaimg">
                <div class="content">
                    <h3>Wash and Iron</h3>
                    <h4>15Kg per month</h4>
                    <li>weekly pickup</li>
                    <li>wash</li>
                    <li>Spotting</li>
                    <li>Dry</li>
                    <li>Steam Iron</li>
                    <li>3-4 Pcs Pack in 1 packet</li>
                    <li>2 valid for 1 month</li>
                    <h3>Rs 1350.00</h3>  <button class="ordernow">order now</button>
                </div>
            </div>
        </div>
       
    </section>

</body>
